$bgc: #FFFFFF
$white: #FFFFFF
$black: #000
$text: rgba(0, 0, 0, 0.7)
// добавлять и удалять
$grey: #F6F6F6
$red: #ED2228
$blue: #004767
$gradient: linear-gradient(104deg, #004767 0%, transparent 100%) #003B55

// анимация
$cubic: all 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26)

// переменные по умолчанию
$containerPadding: 15
$contentWidth: 1360
$containerWidth: $contentWidth + $containerPadding * 2
$minWidth: 320

// Media 
$pc: 1023.98px // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px // Телефоны L - 768px
$mobileMid: 575.98px // Телефоны M - 576px
$mobileSmall: 479.98px // Телефоны S - 480px

:root
  --widthscrollbar: 17px

%body
  font-family: 'Manrope', sans-serif
  @include font(500, 16, 18)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%head
  font-family: 'Manrope', sans-serif
  @include font(700, 36, 43)
