$bgc: #FFFFFF
$white: #FFFFFF
$black: #354053
$text: rgba(0, 0, 0, 0.7)
// добавлять и удалять
$grey: #F6F6F6
$red: #ED2228

// переменные по умолчанию
$containerPadding: 15
$contentWidth: 1240
$containerWidth: $contentWidth + $containerPadding * 2

:root
  --widthscrollbar: 17px

%body
  font-family: 'Roboto', sans-serif
  @include font(400, 18, 22)

%head
  font-family: 'Roboto', sans-serif
  @include font(700, 42, 72)
