<div class="tabs" data-tabs="tab">
  <ul class="tabs__nav">
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Таб 1</button></li>
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Таб 2</button></li>
    <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Таб 3</button></li>
  </ul>
  <div class="tabs__content">
    <div class="tabs__panel">
      <p>Контент 1. Далеко-далеко за словесными горами в стране. 11</p>
    </div>
    <div class="tabs__panel">
      <p>Контент 2. Далеко-далеко за словесными горами в стране. 22</p>
    </div>
    <div class="tabs__panel">
      <p>Контент 3. Далеко-далеко за словесными горами в стране. 33</p>
    </div>
  </div>
</div><!-- /.tabs -->
