$bgc: #ffffff
$text: rgba(53, 64, 83, 0.5)
$grey: #F6F6F6
$red: #ED2228
$bl: #354053

%body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 18px
  line-height: 26px

%head
  font-family: 'Roboto', sans-serif
  font-weight: 500
