$bgc: #ffffff
$text: rgba(53, 64, 83, 0.5)
$grey: #F6F6F6
$red: #ED2228
$bl: #354053

%heading
  font-family: 'Montserrat', sans-serif
  font-weight: 500

%body
  font-family: 'MuseoSansCyrl-500', sans-serif
  font-weight: 500
  font-size: 18px
  line-height: 26px
