$bgc: #ffffff
$text: rgba(53, 64, 83, 0.5)
$grey: #F6F6F6
$red: #ED2228
$black: #354053
$white: #ffffff

%body
  font-family: 'Roboto', sans-serif
   @include font(400, 18px, 125%)

%head
  font-family: 'Roboto', sans-serif
   @include font(700, 42px, 160%)
