.hello
  &__container
    padding-top: 40px
    font-size: 16px
    margin-bottom: 30px
    h1
      font-size: 32px
      font-weight: 700
      margin-bottom: 10px
    h2
      font-size: 26px
      font-weight: 700
      margin-bottom: 5px
      margin-top: 30px
    h3
      font-weight: 700
      margin-bottom: 5px
      margin-top: 30px
      font-size: 22px
    a
      text-decoration: underline
  &__subtext
    font-size: 13px
    font-style: italic

.icon-svg
  fill: transparent
  stroke: transparent
  width: 40px
  height: 40px
  transition: fill 0.3s ease-in
  &--inst
    fill: $red
  &--fb
    fill: $black
  @media (any-hover: hover)
    &:hover
      fill: #c3dde7

.example
  background-color: darken($grey, 15)
  padding: 15px
  margin-top: 7px
  font-size: 16px
.code
  background-color: darken($grey, 3)
  padding: 2px 7px
  color: darken($red, 10)
  border-radius: 3px
.code-full
  background-color: darken($grey, 3)
  padding: 17px
  color: darken($red, 10)
  border-radius: 5px
  display: inline-block
  margin: 5px 0

.mb20
  margin-bottom: 20px

.hotkeys
  margin-top: 20px
  &__container
    display: flex
    gap: 30px
    padding: 0
  &__wrap
    flex: 1 1 49%
  &__title
    // margin-bottom: 5px
    font-weight: 700
    color: $red
    border-bottom: 1px solid $red
  &__use
    margin-bottom: 7px
    font-size: 16px
    border-bottom: 1px solid $black
    padding-bottom: 3px
    background-color: $grey
    padding-top: 5px
  &__code
    color: $red
    font-style: italic
  &__blue
    color: blue
  &__list
    display: flex
    flex-direction: column
  &__item
    &:not(:last-child)
      margin-bottom: 7px
    span
      font-weight: bold



