.hello__container
  padding-top: 40px

.hotkeys
  margin-top: 20px
  &__container
    display: flex
    gap: 30px
    padding: 0
  &__wrap
    flex: 1 1 49%
  &__title
    // margin-bottom: 5px
    font-weight: 700
    color: $red
    border-bottom: 1px solid $red
  &__use
    margin-bottom: 7px
    font-size: 16px
    border-bottom: 1px solid $black
    padding-bottom: 3px
    background-color: $grey
    padding-top: 5px
  &__code
    color: $red
    font-style: italic
  &__blue
    color: blue
  &__list
    display: flex
    flex-direction: column
  &__item
    &:not(:last-child)
      margin-bottom: 7px
    span
      font-weight: bold



