.parallax
  position: relative
  width: 100%
  height: 430px
  overflow: hidden
  @include mediaTablet
    height: 360px
  &__img
    height: 100%
    position: absolute
    inset: 0
    will-change: transform
    transform: translate3d(0, 0, 0)
    img
      position: absolute
      inset: 0
      width: 100%
      height: 120%
      object-fit: cover
      pointer-events: none
      object-position: center
      user-select: none
      @include mediaPhone
        height: 140%
